*,*::after,*::before {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  overflow: hidden;
}
button {
  font-size: 1rem;
}
img {
  user-select: none;
  max-width: 100%;
}
.name-chooser {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.main {
  display: flex;
  flex-direction: column;
  width: 11em;
  height: 11em;
  position: absolute;             
  top: 50%;    
  left: 50%;                     
  transform: translate(-50%, -50%);
  align-items: center;
  background-color: aqua;
  border: aqua 1rem solid;
  border-radius: 2rem;
}
.waiting {
  font-weight: bold;
}
.players {

  width: 100%;
  display: flex;
  justify-content: space-around;
}
.player-1,.player-2 {
  font-size: 1em;
}
.ready-display {
  padding-top: 1em;
}
.start-btn{
  background-color: rgb(71, 229, 71);
  border: none;
  border-radius: 1em;
  margin-top: 1em;
  padding: 0.5em 1em;
}
.container {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: scale(2);
  max-width: 100%;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.board {
  image-rendering: pixelated;
}
.rows {
  display: flex;
}
.tiles {
  width: 64px;
  height: 64px;
  background-color: rgb(109, 80, 33);
  outline: 1px black solid;
}
.control-panel {
  border-top: 2px black solid;
  position: fixed;
  height: 5em;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  background-color: gray;
}
.info {
  display: flex;
  justify-content: space-between;
  padding-inline: 2em;
  font-size: 1.7rem;
  font-weight: bold;
}
.line1 {
  padding-right: 2em;
}
.upgrades {
  display: flex;
}
.upgrade-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.upgrade-container + .upgrade-container {
  margin-left: 2em;
}
.upgrade-btn {
  width: 7em;
  height: 6em;
  font-weight: bold;
}
.amount-of-upgrades {
  font-size: 1.5rem;
}
.hidden {
  display: none;
}
.bg-red{
  background-color: red;
}
.bg-green{
  background-color: green;
}